.body {
    font-family: helvetica;
    font-style: bold;
    margin-top: 200px;
}

.body p {
    max-width: 30em;
    font-size: 20px;
    font-family: verdana;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: square;
    max-width: 30em;
    font-size: 20px;
    font-family: verdana;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    font-family: helvetica;
}

img {
    max-width: 600px;
    position: block;
}

.under_title {
    font-style: italic;
}
