html {
    position: relative;
    margin-top: 95px;
    font-family: futura, arial;
    margin-bottom: 150px;
}

body {
    height: 100%;
    margin-bottom: 0;
    margin-right: 0;
}

.title {
    font-size: 44pt;
}

.paragraph {
    width: 600px;
    font-size: 12pt;
}

#body-contact,
#body-about,
#body-article {
    margin-left: 100px;
}

#article_pic {
    width: 45%;
    float: right;
    display: block;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 100px;
}

#body-contact {
    margin-bottom: 70px;
}

/* These are for the about page */

#abouttext {
    width: 45%;
    float: left;
}

#abouttext p {
    width: 100%;
}

/* End */


/* FORM styling */

.input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 400px;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: block;
    font-size: 12pt;
}

.form-o {
    display: block;
    padding: 5px;
    color: grey;
}

#f-text {
    resize: none;
    height: 150px;
}

/* .input:focus {} */

.finito {
    font-size: 14pt;
    border: none;
    font-weight: 700;
}

.finito:hover {
    color: grey;
}

#rekrutt {
    position: absolute;
    right: 100px;
    top: -50px;
    width: 300px;
}

#ransvarlig {
    position: absolute;
    top: 360px;
    right: 100px;
    color: #6E6D6D;
}

#navn-ransvarlig {
    position: absolute;
    top: 380px;
    right: 100px;
    color: #6E6D6D;
}

/* DENNE MÅ FIKSES */

form {
    position: absolute;
    top: 100px;
    left: 0;
}

/* DEN JA */

#divform {
    position: relative;
    height: 450px;
    width: 100%;
}

/* FORM end */


/* ISSUE styling */

#lastned {
    position: relative;
    top: 50px;
}

#firstdiv {
    position: relative;
    width: 1260px;
    height: 900px;
}

.divarticle {
    position: relative;
    height: 550px;
    width: 1260px;
}

#forside {
    position: absolute;
    top: 200px;
    right: 0;
    width: 800px;
}

.articleimg {
    position: absolute;
    top: 50px;
    right: 0;
    width: 600px;
}

/* ISSUE end */


/* Anders' HEADER styling */

header {
    background-color: white;
    box-shadow: 0 0 5px 1px lightgray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}


#TheSign {
    height: 25px;
    margin-left: 40px;
    position: fixed;
    transition: all .2s ease-in-out;
}

#TheSign:hover {
    transform: scale(1.08);
}

@media only screen and (max-width: 600px) {
    #TheSign {
        height: 25px;
        margin-left: 40px;
        position: fixed;
        transition: all .2s ease-in-out;
        display: none;
    }
}

#nav {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    text-align: center;
    position: relative;
}

#nav ul {
    padding: 0px;
}

#nav li {
    margin: 20px 20px;
}

#nav a {
    color: black;
    text-decoration: none;
}

/* Code for box animation*/

#nav a {
    padding: 7px;
    transition: color 0.25s 0.08333s;
    position: relative;
}

#nav a::before,
#nav a::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

#nav a::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

#nav a::after {
    border-top-width: 2px;
    border-right-width: 2px;
}

#nav a:hover {
    color: black;
}

#nav a:hover::before,
#nav a:hover::after {
    border-color: black;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

#nav a:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

#nav a:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* HEADER end */


/* ABOUT styling */

.content {
    width: 160px;
    float: left;
}

.content img {
    width: 150px;
    float: left;
    padding: 5px;
}

.panel {
    width: 480px;
}

.masonry {
    display: inline;
    float: right;
    margin-right: 100px;
}

@media only screen and (max-width: 1200px) {

    #abouttext {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 40px;
    }

    #body-about {
        margin-right: auto;
        margin-left: auto;
    }



    .masonry {
        float: none;
        width: 480px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

}


/* ABOUT end */


/* WORK styling */

.columnleft {
    float: left;
    width: 50%;

}

.columnright {
    float: right;
    width: 50%;
}

.columnleft a {
    width: 90%;
    padding-left: 7%;
    padding-right: 3%;
    padding-bottom: 32px;
}

.columnright a {
    width: 90%;
    padding-left: 3%;
    padding-right: 7%;
    padding-bottom: 32px;
}

.card:hover > .article_title {
    color: black;
}

.card:hover > .article_description {
    color: black;
}

.card img {
    max-width: 90%;
    max-height: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

.article_title {
    color: #6E6D6D;
    font-size: 12pt;
    text-decoration: none;
    margin-left: 10px;
}

.article_description {
    color: #6E6D6D;
    font-size: 10pt;
    font-weight: 100;
    text-decoration: none;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

/* WORK end */


/* Footer code */

.footer {
    position: absolute;
    width: 100%;
    height: 150px;
    /* Height of the footer */
    background: grey;
    bottom: -150px;
    left: 0;
    display: block;
}

.links {
    position: absolute;
    left: 30%;
    bottom: 0;
    color: white;
}

.social_icons {
    position: absolute;
    color: black;
    right 50px;
    bottom: 10%;
}

.fa {
    width: 20px;
    color: white;
}

.newsletter {
    position: absolute;
    right: 10%;
    bottom: 50%;
}

.social_icons {
    right: 19%;
    bottom: 30%;
}


#mail {
    background-color: gray;
    border: 2px solid white;
    height: 30px;
    color: white;
    font-size: 14px;
}

#send {
    background-color: gray;
    border: 2px solid white;
    height: 36px;
    color: white;
}

#quoted-display {
    position: relative;
    color: white;
    max-width: 200px;
    padding: 30px;
    text-align: center;
    left: 0;
}

#input-field {
    background-color: gray;
    border: 2px solid white;
    height: 30px;
    color: white;
    font-size: 14px;
}

#send_button {
    background-color: gray;
    border: 2px solid white;
    height: 33px;
    color: white;
}

.subscription-form {
    position: absolute;
    right: 10%;
    bottom: 30%;
    float: right;
    color: white;
}

@media only screen and (max-width: 720px) {
    #quoted-display {
        display: none;
    }

    .links {
        left: 40px;
    }
}

/*  FOOTER End */


/* RECOMMENDED styling */

.recommended {
    background-color: #F1F1F1;
    display: table;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    margin-left: -100px;
}

#header_recommend {
    margin-left: 20px;

}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

/* RECOMMENDED end */


/* VALIDATION */

.message{
    position:absolute;
    padding:5px 10px 5px;
    border: 2px grey solid;
    visibility: hidden;  
}

.correct{
    visibility: visible;
    animation-name: success;
    animation-duration: 2s;
}

@keyframes success {
    from {opacity: 0;}
    to { opacity:1;}
}


/* VALIDATION end */
