.footer {
    position: fixed;
    width: 100%;
    height: 150px;
    /* Height of the footer */
    background: grey;
    bottom: 0;
    left: 0;
}

.links {
    position: absolute;
    left: 30%;
    bottom: 0;
    color: white;

}

.social_icons {
    position: absolute;
    color: black;
    right 50px;
    bottom: 10%;

}

.fa {
    width: 20px;
    color: white;
}




.newsletter {
    position: absolute;
    right: 10%;
    bottom: 50%;

}

.social_icons {
    right: 19%;
    bottom: 30%;


}


#mail {
    background-color: gray;
    border: 2px solid white;
    height: 30px;
    color: white;
    font-size: 14px;

}

#send {
    background-color: gray;
    border: 2px solid white;
    height: 36px;
    color: white;

}

#quoted-display {
    position: relative;
    color: white;
    max-width: 200px;
    padding: 30px;
    text-align: center;
    left: 0;



}

#input-field {
    background-color: gray;
    border: 2px solid white;
    height: 30px;
    color: white;
    font-size: 14px;


}

#send_button {
    background-color: gray;
    border: 2px solid white;
    height: 33px;
    color: white;
}

.subscription-form {
    position: absolute;
    right: 10%;
    bottom: 47%;
    float: right;
    color: white;


}



@media only screen and (max-width: 720px) {
    #quoted-display {
        display: none;
    }

    .links {
        left: 40px;

    }
}
